body {
    margin:0;
    padding:0;
    height:100%;
 }

.bottom-bar{
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
    outline: 1px solid;
    overflow: hidden;
 }

 .bottom-left{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 100%;
 }

 .bottom-middle{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
 }

 .bottom-right{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
 }

 .ratImage{
    width: 3%;
    height: auto;
 }