.fuchsiaHIDE{
            visibility: hidden;
        }

    @media screen and (max-width: 800px) and (orientation: landscape) {
        body {
            background-color: fuchsia;
            color: rgb(101, 209, 255);
        }
        h2 {
            visibility: visible;
        }
    }

    @media screen and (min-width: 800px) and (orientation: portrait) {
        body {
            background-color: fuchsia;
            color: rgb(101, 209, 255);
        }
        h2 {
            visibility: visible;
        }
    }